h1 {
  text-decoration: underline;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #831a1a;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  pauzão: 20px;
  padding: 20px;
}

/* Barra lateral esquerda */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar button:hover {
  background: #f1f1f1;
}

.sidebar .active {
  background: #e5e5e5;
  font-weight: bold;
}

/* Conteúdo principal */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video img {
  width: 300px;
  border-radius: 12px;
}

.caption {
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  background: #3a1616;
}

/* Barra lateral direita */
.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-right button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar-right button:hover {
  background: #f1f1f1;
}

.top-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
